* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Georgia;
}
body {
    background: url(images/bg.jpg) no-repeat fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
@font-face {
    font-family: lucida calligraphy;
    src: url(LucidaCalligraphyFont.ttf);
}
nav, footer{
    background-color: rgb(211, 211,211,0.9);
}
nav .navbar-brand img {
    width: 70px;
}
/* logo1 image will hide on small screen */
#navbarcollapse .logo1 img {
    width: 90px;
    display: none;
}
/* logo1 image will show after expanding the screen */
@media screen and (min-width: 768px) {
    #navbarcollapse .logo1 img {
        display: block;
    }
}
nav .dropdown-menu {
    min-width: 70%;
    position: absolute;
    background-color: #ddd;
}
.navbar-nav a:hover{
    background-color: whitesmoke;
}
.navbar-nav a:hover {
    border-radius: 20px;
}
.title {
    margin-top: 100px;
    text-align: center;
}
.content {
    margin-top: 100px;
    margin-bottom: 80px;
}
.content img {
    position: sticky;
    top: 100px;
    margin-bottom: 20px;
    width: 100%;
}
.content p, .content h2 {
    padding: 10px;
}
.content p {
    font-size: 10px;
    background-color: rgb(211, 211,211,0.5);
}
.content h2 {
    background-color: whitesmoke;
    font-size: 20px;
    font-family: lucida calligraphy;
    text-shadow: black 1px 1px 3px;
}
footer {
    margin-top: auto;
}
    /* medium screen */
    @media screen and (min-width:576px) {
        .content p {
            font-size: 15px;
        }
        .content h2 {
            font-size: 25px;
        }
    }
    /* larger screen */
    @media screen and (min-width:768px) {
        .content p {
            font-size: 20px;
        }
        .content h2 {
            font-size: 30px;
        }
    }

    /* media screen for navbar */
    @media screen and (min-width: 992px){
        .navbar a {
            font-size: 20px;
        }

    }
    @media screen and (min-width: 1200px){

        .navbar a {
            font-size: 25px;
        }
    }

