* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Georgia;
}
body {
    background: url(images/bg.jpg) no-repeat fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
nav, footer{
    background-color: rgb(211, 211,211,0.9);
}
nav .navbar-brand img {
    width: 70px;
}
/* logo1 image will hide on small screen */
#navbarcollapse .logo1 img {
    width: 90px;
    display: none;
}
    /* logo1 image will show after expanding the screen */
    @media screen and (min-width: 768px) {
        #navbarcollapse .logo1 img {
            display: block;
        }
    }
nav .dropdown-menu {
    min-width: 70%;
    position: absolute;
    background-color: #ddd;
}
.navbar-nav a:hover, .dropdown-menu a:hover {
    background-color: whitesmoke;
}
.content {
    margin-top: 100px;
    margin-bottom: 80px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
.title {
    color: grey;
    font-size: 18px;
}
.open-button {
    border: none;
    display: inline-block;
    padding: 15px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.content a {
    font-size: 30px;
}
/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position:absolute;
    top: 260px;
    right: 28px;
    width: 280px;
}
  /* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
  /* Full-width textarea */
.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}
  /* When the textarea gets focus, do something */
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}
  /* Set a style for the submit/send button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
  /* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}
  /* Add some hover effects to buttons */
.form-container .btn:hover {
    background-color: antiquewhite;
}
.open-button:hover {
    background-color: red;
}
footer {
    margin-top: auto;
}

    @media screen and (max-width:336px) {
        .chat-popup {
            top: 240px;
            width: 250px;
        }
    }
    @media screen and (max-width:300px) {
        .chat-popup {
            top: 220px;
            width: 180px;

        }
    }
    @media screen and (max-width:275px) {
        .chat-popup {
            top: 200px;
            width: 180px;

        }
    }
    @media screen and (max-width:274px) {
        .chat-popup {
            top: 170px;
            width: 180px;

        }
    }

        /* media screen for navbar */
    @media screen and (min-width: 992px){
        .navbar a {
            font-size: 20px;
        }

    }
    @media screen and (min-width: 1200px){

        .navbar a {
            font-size: 25px;
        }
    }
