* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Georgia;
}
body {
    background: url(images/bg.jpg) no-repeat fixed;
    background-size: cover;
}
@font-face {
    font-family: lucida calligraphy;
    src: url(LucidaCalligraphyFont.ttf);
}
nav{
    background-color: rgb(211, 211,211,0.9);
}
nav .navbar-brand img {
    width: 70px;
}
/* logo1 image will hide on small screen */
#navbarcollapse .logo1 img {
    width: 90px;
    display: none;
}
/* logo1 image will show after expanding the screen */
@media screen and (min-width: 768px) {
    #navbarcollapse .logo1 img {
        display: block;
    }
}
nav .dropdown-menu {
    min-width: 70%;
    position: absolute;
    background-color: #ddd;
}
nav a:hover, .navbar-nav a:hover, .dropdown-menu a:hover {
    background-color: whitesmoke;
}
.content .title{
    margin-top: 100px;
    text-align: center;
    text-shadow: rgb(46, 45, 45) 1px 2px 7px;
    font-family: lucida calligraphy;
}
.content {
    margin-bottom: 80px;
}
.visayas {
    font-size: 50px;
}
.card {
    width: 300px;
    height: 200px;
    box-shadow: 10px 20px 20px 5px black;
}
.card img {
    height: 100%;
}
.card-text {
    font-size: small;
}
.modal-body {
    font-size: small;
}
.see {
    font-size: small;
}
.card-title {
    text-shadow: rgb(46, 45, 45) 1px 2px 7px;
    font-size: 25px;
}
footer{
    background-color: rgb(211, 211,211,0.9);
}