* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Georgia;
}
body {
    background: url(images/bg.jpg) no-repeat fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
@font-face {
    font-family: lucida calligraphy;
    src: url(LucidaCalligraphyFont.ttf);
}
nav, footer{
    background-color: rgb(211, 211,211,0.9);
}
nav .navbar-brand img {
    width: 70px;
}
/* logo1 image will hide on small screen */
#navbarcollapse .logo1 img {
    width: 90px;
    display: none;
}
    /* logo1 image will show after expanding the screen */
    @media screen and (min-width: 768px) {
        #navbarcollapse .logo1 img {
            display: block;
        }
    }
nav .dropdown-menu {
    min-width: 70%;
    position: absolute;
    background-color: #ddd;
}
.navbar-nav a:hover{
    background-color: whitesmoke;
}
.navbar-nav a {
    border-radius: 20px;
}
.history{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 10% auto auto 30%;
    grid-template-areas: 
    "title title"
    "iframe text1"
    "iframe text1"
    "text2 text2";
    background-color: rgb(211, 211,211,0.5);
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.history .title {
    grid-area: title;
    font-family: lucida calligraphy;
    text-shadow: black 1px 1px 3px;
}
.history iframe {
    grid-area: iframe;
    width:100%;
    height:100%; 
    border: 0;
    padding: 10px;
}
.history .text1 {
    grid-area: text1;
}
.history .text1 , .text2, .title, .why .title1 , .text3, .text4, .text5{
    font-size: 12px;
    padding: 10px;
}
.history .title, .why .title1 {
    font-size: 25px;
    text-align: center;
}
.history .text2 {
    grid-area: text2;
}
.why {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "title1 title1"
    "text3 text4"
    "text5 text5";
    background-color: rgb(211, 211,211,0.5);
    margin: 20px;
    margin-bottom: 80px;
}
.why .title1 {
    grid-area: title1;
    font-size: 20px;
    font-family: lucida calligraphy;
    text-shadow: black 1px 1px 3px;
}
.why .text3 {
    grid-area: text3;
}
.why .text4 {
    grid-area: text4;

}
.why .text5 {
    grid-area: text5;
}
.carousel-inner .carousel-caption h3,.carousel-inner .carousel-caption p {
    background-color: rgba(0,0,0, 0.3);
    color: white;
}
footer {
    margin-top: auto;
}
        /* Screen for small device */
    @media screen and (max-width: 450px) {
        .history{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto;
            grid-template-areas: 
            "title title"
            "iframe iframe"
            "text1 text2";
            margin-top: 100px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 20px;
        }
    }
        /* Screen for smaller device */
    @media screen and (max-width: 350px) {
        @keyframes ph {
            0%   {left:0px; top:10px;}
            100% {left:0px; top:10px;}
        }
                  
        @keyframes beach {
            0%   {right:80px; top:20px;}
            100% {right:80px; top:20px;}
        }
        .name .ph, .name .beach{
            font-size: 15px;
        }
        .history{
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: repeat(4, auto);
            grid-template-areas: 
            "title"
            "iframe"
            "text1"
            "text2";
            margin-top: 100px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 20px;
        }

        .history .text1 {
            margin-bottom: 0;
        }
        .history .text2 {
            margin-top: 0;
        }

        .why {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(4, auto);
            grid-template-areas: 
            "title1 title1"
            "text3 text3"
            "text4 text4"
            "text5 text5";
        }
        .why .text3, .why .text4  {
            margin-bottom: 0;
        }
        .why .text5, .why .text4  {
            margin-top: 0;
        }
    }

        /* Screen for smallest device */
    @media screen and (max-width: 300px) {
        /* MENU ICON */
        header .icon {
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 15px;
            padding-right: 15px;
        }

        /* Logo */
        header .logo1 a{
            padding: 14px 10px;
            float: left;
        }
        header .logo1 img {
            width: 40px;
            overflow: hidden;
        }
            @keyframes ph {
                    0%   {left:0px; top:10px;}
                    100% {left:0px; top:10px;}
            }
                          
            @keyframes beach {
                    0%   {right:60px; top:10px;}
                    100% {right:60px; top:10px;}
            }
        .name .ph, .name .beach{
                    font-size: 15px;
        }
    }

        /* Screen for Tablet device that is not too wide */
    @media screen and (min-width: 500px){
        @keyframes ph {
            0%   {left:0px; top:10px;}
            100% {left:40px; top:10px;}
        }
        .name .ph, .name .beach{
            font-size: 30px;
        }
        @keyframes beach {
            0%   {right:90px; top:25px;}
            100% {right:130px; top:25px;}
        }
            
        /* MENU ICON */
        header .icon {
            padding-top: 38px;
            padding-bottom: 38px;
            padding-left: 25px;
            padding-right: 25px;
        }    
        header .icon i {
            font-size: 32px;
        }       
        /* Logo */
        header .logo1 img {
            width: 100px;
        }
        header .logo1 a{
            padding: 14px 10px;
        }

        .history .text1 , .text2, .title, .why .title1 , .text3, .text4, .text5{
            font-size: 15px;
            padding: 10px;
        }
        .history .title, .why .title1 {
            font-size: 30px;
            text-align: center;
        }
    }

        /* Screen for Tablet device */
    @media screen and (min-width: 700px){
        @keyframes ph {
            0%   {left:0px; top:10px;}
            100% {left:100px; top:10px;}
        }
        .name .ph, .name .beach{
            font-size: 30px;
        }
        @keyframes beach {
            0%   {right:90px; top:25px;}
            100% {right:200px; top:25px;}
        }
        .history{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: repeat(3, auto);
            grid-template-areas: 
            "title title"
            "iframe text1"
            "iframe text2";
            margin-top: 100px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 20px;
        }
        .history iframe {
            height: 95%;
        }
        .history .text1 {
            margin-bottom: 0;
        }
        .history .text2 {
            margin-top: 0;
        }
        .why {
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-template-rows: repeat(3, auto);
            grid-template-areas: 
            "title1 title1 title1"
            "text5 text3 text3"
            "text5 text4 text4";
        }
        .why .text5 {
            font-size: 28px;
            margin-top: 60px;
        }
        .history .text1 , .text2, .text3, .text4{
            font-size: 18px;
        }
    }
    /* Screen for laptop/desktop device */
    @media screen and (min-width: 900px){
        @keyframes ph {
            0%   {left:0px; top:10px;}
            100% {left:200px; top:10px;}
        }
        .name .ph, .name .beach{
            font-size: 30px;
        }
        @keyframes beach {
            0%   {right:90px; top:25px;}
            100% {right:300px; top:25px;}
        }
        .history{
            display: grid;
            grid-template-columns: 35% auto auto;
            grid-template-rows: auto auto;
            grid-template-areas: 
            "none title title"
            "iframe text1 text2";
            margin-top: 100px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 20px;
        }
        .history iframe {
            height: 95%;
        }
        .why {
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-template-rows: repeat(3, auto);
            grid-template-areas: 
            "title1 title1 title1"
            "text3 text4 text5"
            "text3 text4 text5";
        }
        .why .text5 {
            font-size: 28px;
            margin-top: 0;
        }
                    
    }
    /* media screen for navbar */
    @media screen and (min-width: 992px){
        .navbar a {
            font-size: 20px;
        }

    }
    @media screen and (min-width: 1200px){

        .navbar a {
            font-size: 25px;
        }
    }

        