* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
html {
    background: url(images/bg.jpg) no-repeat fixed;
    background-size: cover;
}


header {
    overflow: hidden;
    background-color: rgb(211, 211,211, 0.5); /*0.5 is the opacity*/
    position: relative;
}
/* PARENT CONTAINER OF MENU */
header #myLinks {
    display: none;
}
/* MENU BAR */
header a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
/* MENU ICON */
header a.icon {
    color: white;
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0px;
    padding-top: 31px;
    padding-bottom: 31px;
    padding-left: 23px;
    padding-right: 23px;
}
header a.icon:hover, header #myLinks a:hover { /*menu icon hover*/
    background-color: #ddd;
    color: black;
}
/* LOGO IMAGE */
header .logo1 img {
    width: 70px;
    overflow: hidden;
}

/* DESTINATION BUTTON */
.dropdown-btn {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-family: Georgia;
}
  
.dropdown-btn:hover {
    background-color: #ddd;
    color: black;
  }
  
/* destination dropdown content */
.desti-dropdown {
    display: none;
    background-color: #7c7878;
}

/* ARROW DOWN ICON FROM FONT AWESOME*/
.fa-caret-down {
    float: right;
    padding-right: 8px;
}


.content {
    text-align: center;
    padding: 20px;
    text-shadow: rgb(46, 45, 45) 1px 2px 7px;
}
.content .PH {
    font-size: 40px;
    font-family: lucida calligraphy;
    margin-top: 25px;
}
.content .home {
    font-size: 25px;
    font-family: lucida calligraphy;
    margin-bottom: 30px;
    margin-top: 40px;
}

.content .beaches {
    float: right;
    font-size: 40px;
    font-family: lucida calligraphy;
    margin-top: 25px;
    position: relative;
    animation-name: beach;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  
@keyframes beach {
    0%   {right:0px; top:0px;}
    100% {right:120px; top:0px;}
}

.content .beau {
    float: left;
    font-size: 40px;
    font-family: lucida calligraphy;
    position: relative;
    animation-name: beau;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}
@keyframes beau {
    0%   {left:0px; top:0px;}
    100% {left:120px; top:0px;}
}


.gallery {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-row: 1fr;
    grid-template-areas:  
    "image2 image3 image4";
    margin-top: 150px;
}
.gallery .image2 {
    grid-area: image2;
    margin-top: 40px;
}
.gallery .image3 {
    grid-area: image3;
    z-index: 1; /*to make it infront*/
}

.image3 img {
    width: 100%;
    transition: 0.5s; /*slowmo*/
}

.image3:hover img {
    transform: scale(1.1); /*how wide it will zoom*/
}

.gallery .image4 {
    grid-area: image4;
    margin-top: 50px;
}
.gallery img {
    width: 100%;
}
.gallery .image2, .image4 {
    opacity: 50%;
}

.mySlides {
    display:none;
}

.slideshow {
    display: grid;
    justify-items: center;
    margin-top: 60px;
}
.slideshow img {
    border: 2px solid black;
    width: 50%;
    height: 90%;
}


    @media screen and (max-width:600px) and (min-height:800px){ /*mobile devices that has more height*/
        
        .gallery {
            margin-top: 200px;
        }

        .slideshow {
            margin-top: 80px;
        }
        .slideshow img {
            width: 80%;
            height: 90%;
        }
    }

    @media only screen and (width:540px) and (height:720px){ /*specific device Surface DUO*/
        .content .beaches {
            font-size: 40px;
            margin-top: 70px;
          }
          
        @keyframes beach {
            0%   {right:0px; top:0px;}
            100% {right:120px; top:0px;}
        }
        
        .content .beau {
            font-size: 40px;        
        }
        @keyframes beau {
            0%   {left:0px; top:0px;}
            100% {left:120px; top:0px;}
        }
    }

        @media only screen and (max-width:300px) { /*device that is not wide*/
            .content .PH {
                font-size: 30px;
                margin-top: 10px;
            }
            .content .home {
                font-size: 15px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            
            .content .beaches {
                font-size: 30px;
                margin-top: 20px;
            }
              
            @keyframes beach {
                0%   {right:0px; top:0px;}
                100% {right:90px; top:0px;}
            }
            
            .content .beau {
                font-size: 30px;            
            }
            @keyframes beau {
                0%   {left:0px; top:0px;}
                100% {left:90px; top:0px;}
            }

            .gallery {
                margin-top: 130px;
            }
            .slideshow {
                margin-top: 40px;
            }
            .slideshow img {
                width: 80%;
            }        
    }
